body {
	background-color:purple;
	font-family: 'Vollkorn', serif;
	color:#fbf7dc;
	margin-bottom:30vw;
	width:100vw;
	margin-left:-1;
}

div.ingredients {
	width: 35vw;
	height: 35vw;
	border: 3px solid rgba(0,0,0,.5);
	display: inline-block;
	margin-bottom:10px;
	margin-left:5px;
	margin-right:5px;
	font-size:10px;
}

div.bothcolumns {
	margin-right:10vw;
	margin-left:10vw;
	width:80vw;
}


h2 {
	margin-top: 10px;
	text-align:center;
	font-size:3vw;
	weight:400;
	color:#fbf7dc;
}

div.innerbox {
	width: 32vw;
	height: 32vw;
	background-color: rgba(0,0,0,.5);
	display: inline-block;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-top:5px;
	position:absolute;

}

h5 {
	position:relative;
	font-size:3vw;
}



img.zeldalogo {
	width:70vw;
	margin-left:15vw;
	margin-right:15vw;
	margin-top:5vw;
}

h1 {
	text-align:center;
	font-size:42px;
	margin-top:12px;
}

img.food {
	width:24vw;
	margin-left:3vw;
	margin-right:3vw;
}

img.cornsyrup {
	width:18vw;
	margin-left:7vw;
	margin-right:7vw;
	margin-bottom:1vw;
}

img.violet {
	width:20vw;
	margin-left:6vw;
	margin-right:6vw;
}

img.bakingpowder {
	width:12vw;
	margin-left:10vw;
	margin-right:10vw;

}

div div div img {
	margin-top:-1vw;
}

img.flour {
	width:21vw;
	margin-top:6px;
	margin-left:5vw;
	margin-right:5vw;
}

img.sugar {
	width:24vw;
	margin-left:3.5vw;
	margin-right:3.5vw;
}

img.salt {
	width:21vw;
	margin-left:5vw;
	margin-right:5vw;

}

img.eggs {
	width:23vw;
	margin-left:3.5vw;
	margin-right:3.5vw;

}

img.vegetableoil{
	width:18vw;
	margin-left:7vw;
	margin-right:7vw;

}

img.milk {
	width:18vw;
	margin-left:7vw;
	margin-right:7vw;

}

img.creamcheese{
	width:19vw;
	margin-left:6.5vw;
	margin-right:6.5vw;

}

img.goatbutter{
	width:24.5vw;
	margin-left:3.75vw;
	margin-right:3.75vw;

}

img.powderedsugar{
	width:14vw;
	margin-left:7.5vw;
	margin-right:7.5vw;

}

img.durianmeat{
	width:23vw;
	margin-left:4.5vw;
	margin-right:4.5;

}

h3 {
	margin-left:12vw;
	font-size: 6.5vw;
	margin-bottom:1vw;
	margin-top:15vw;
}

h4 {
	margin-left:1vw;
}

li {
	margin-left:4vw;
	width:70vw;
	padding-left:1vw;
}

div.cakeimage img {
	width:65vw;
	margin-left:17.5vw;
	margin-right:17.5vw;
}

h5.whitechocolate{
	margin-top:-1vw;
	margin-left:1.5vw;
}

h5.cornsyrup{
	margin-top:-1vw;
	margin-left:1.5vw;
}

h5.flour{
	margin-top:-.5vw;
	margin-left:1.5vw;
}

h5.bakingpowder{
	margin-top:.5vw;
	margin-left:1.5vw;
}

h5.sugar{
	margin-top:3vw;
	margin-left:1.5vw;
	
}

h5.salt{
	margin-top:-3vw;
	margin-left:1.5vw;
	
}

h5.eggs{
	margin-top:1vw;
	margin-left:1.5vw;
	
}

h5.vegetableoil{
	margin-top:0vw;
	margin-left:1.5vw;
	
}

h5.milk{
	margin-top:-.5vw;
	margin-left:1.5vw;
	
}

h5.creamcheese{
	margin-top:-.5vw;
	margin-left:1.5vw;
	
}

h5.goatbutter{
	margin-top:2vw;
	margin-left:1.5vw;
	
}

h5.powderedsugar{
	margin-top:-.5vw;
	margin-left:1.5vw;
	
}

h5.durianmeat{
	margin-top:-.5vw;
	margin-left:1.5vw;
	
}

div.monstericon img {
	margin-left:37vw;
	margin-right:37vw;
	margin-bottom: 8vw;
	margin-top:-7vw;
}




