header {
	margin-bottom: 3rem;
}

p {
	line-height: 1.6;
}

section h2 {
	text-transform: uppercase;
	font-size: .8em;
	font-weight: lighter;
}

h1 {
	font-size: 2.5rem;
	font-weight: lighter;
	
}

section.content h1{
	border-top: 1px solid #000000;
}
}

h2 {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: lighter;
}

li a div:last-child {
	font-style: italic;
	font-size: .8rem;
}

li#game-of-thrones section.seasons ul:after {
	content: "*";
}

li#game-of-thrones section.seasons:after {
	content: "* In production";
	color: #999;
	font-size: .7rem;
}

li a div:nth-of-type(1) {
	font-weight: bold;
	font-size: .8rem;
}

section.cast ul li {
	width: 25%;
}

section.cast ul li img {
	width: 100%;
}

li.selected a {
	font-weight: bold;
	color: black;
}

a.see-all {
	text-transform: uppercase;
	font-size: .8em;
}






